AWS_REGION=YOUR_AWS_REGION
AWS_ACCESS_KEY_ID=YOUR_AWS_ACCESS_KEY_ID
AWS_SECRET_ACCESS_KEY=YOUR_AWS_SECRET_ACCESS_KEY
S3_BUCKET_NAME=YOUR_S3_BUCKET

//use either of the config

R2_ACCOUNT_ID=YOUR_R2_ACCOUNT_ID
R2_API=YOUR_R2_API_URL
R2_BUCKET_NAME=YOUR_R2_BUCEKT_NAME
R2_TOKEN_VALUE=YOUR_R2_TOKEN_VALUE
R2_ACCESS_KEY_ID=YOUR_R2_ACCESS_KEY_ID
R2_SECRECT_ACCESS_KEY=YOUR_R2_SECRECT_ACCESS_KEY